*{
    margin: 0px;
    padding: 0px;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bar{
    width: 500px;
    height: 20px;
    background-color: antiquewhite;
    border-radius: 100px;
}
.progress{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .2s;
    background-color: black;
    width: 0%;
    height: 100%;
    border-radius: 100px;
}
button{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: pink;
    padding: 4px;
    margin-top: 10px;
}
h3{
    opacity: 0;
}